<div id="cleaningVizRoot" class="pb-5" #cleaningVizRoot>
  <div class="text-center">
      <h5 class="px-5 py-3 d-inline-block" style="color: #3f51b5">Feature pre-cleaning Dirtiness Analysis</h5>
  </div>
</div>
<div id="infoTooltip" #infoTooltip>
  <h5 class="header">STATISTICS</h5>
  <span class="header clean ml-2">Clean:</span> <span class="cleanStats"></span>
  <div class="clean ml-3"></div>
  <span class="header dirty ml-2">Dirty:</span> <span class="dirtyStats"></span>
  <div class="dirty ml-3"></div>
</div>
