/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.large {
  font-size: 1.2em !important;
}

.section-heading {
  font-size: 1.2em !important;
  border: solid 1px;
}
